{% extends 'base.html' %}


{% block content %}

{% if error %}
<h3 style="color: red;">{{ error }}</h3>
<br>
<br>
<br>

{% endif %}
<form action="{% url 'create' %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
<!--lil7imaya-->
title :
<br>
<input type="text" name="title">
<br>
body :
<br>
<input type="textBox" name="body">

<br>
url :
<br>
<input type="url" name="url">

<br>
icon :
<br>
<input type="file" name="icon">

<br>
image :
<br>
<input type="file" name="image">

<br>




<br>
<input type="submit" value="Add Product " class="btn btn-primary">



</form>

{% endblock %}


